<div *ngIf="activeChat; else noChat" class="content">
  <div class="contact-profile">
    <img src="User Icon 1.png" alt="" />
    <p>{{recipientName}}</p>
  </div>
  <div class="messages"  #messagesContainer>
    <ul>
      <li [ngClass]="msg.sender_id !== userID ? 'replies' : 'sent'" *ngFor="let msg of messages">
        <img src="User Icon 1.png" alt="" />
        <div class="message-content">
          <p class="message">{{msg.message}}</p>
          <p class="timestamp" [ngClass]="msg.sender_id !== userID ? 'timestamp-left' : 'timestamp-right'">
            {{msg.timestamp | customDate}}
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="message-input">
    <div class="wrap">
      <input type="text" 
      placeholder="Write your message..." 
      [(ngModel)]="userMessage" 
      (keyup.enter)="sendMessage()" />
      <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
      <button class="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #noChat>
  <div class="no-chat-content">
    Click on a chat to see your conversations
  </div>
</ng-template>
