<div class="content">
  <div class="contact-profile">
    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
    <p>Recipient</p>
  </div>
  <div class="messages">
    <ul>
      <li class="sent">
        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
        <p>
          Hi
        </p>
      </li>
      <li class="replies">
        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
        <p>
          Hello
        </p>
      </li>
      <li class="replies">
        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
        <p>How are you</p>
      </li>
      <li class="sent">
        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
        <p>Doing good</p>
      </li>
      <li [ngClass]="msg.sender_id !== userID ? 'replies' : 'sent'" *ngFor="let msg of messages">
        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
        <p>{{msg.message}}</p>
      </li>
    </ul>
  </div>
  <div class="message-input">
    <div class="wrap">
      <input type="text" 
      placeholder="Write your message..." 
      [(ngModel)] = "message"
      (keyup.enter)="sendMessage()"
      />
      <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
      <button class="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
